<% layout("/layouts/boilerplate") %>


<h1>CSI-TEAM 2022-2023</h1>
<img src="/images/csi_team.webp" class="img-fluid" alt="team_2023">

<h2>About CSI</h2>

<img src="/images/logo.png" class="img-fluid" alt="csi-logo" />

<p class="text-justify font-weight-bold">
    The seed for the Computer Society of India (CSI) was first shown in the year 1965 with a handful of IT enthusiasts who were a computer user group and felt the need to organize tteir activities. They also wanted to share their knowledge and exchange ideas on what they felt was a fast emerging sector. Today the CSI takes pride in being the largest and most professionally managed association of and for IT professionals in India. The purposes of the Society are scientific and educational directed towards the advancement of the theory and practice of computer science and IT.
</p>
<p class="text-justify">
    The organisation has grown to an enviable size of 100,000 strong members consisting of professionals with varied backgrounds including Software developers, Scientists, Academicians, Project Managers, CIO’s , CTO’s & IT vendors to just name a few. It has spread its branches all over the country. Currently having 488 student branches and rooted firmly at 73 different locations, CSI has plans of opening many more chapters & activity centers in smaller towns and cities of the country. The idea is to spread the knowledge, and provide opportunities to as many interested as possible.
</p>
<h3>The CSI Vision: "lT for Masses"</h3>
<p>Keeping in mind the interest of the IT professionals & computer users CSI works towards making the profession an area of choice amongst all sections of the society. The promotion of Information Technology as a profession is the top priority of CSI today. To fulfill this objective, the CSI regularly organizes conferences, conventions, lectures, projects, awards. And at the same time it also ensures that regular training and skill updating are organised for the IT professionals. Education Directorate, CSI helps physically challenged citizens by providing training ‘Punarjani’. CSI also works towards a global approach, by seeking out alliances with organizations overseas who may be willing to come forward and participate in such activities. CSI also helps governments in formulating IT strategy & planning.</p>
<h3>Youth and CSI</h3>
<p class="text-justify">Being closely associated with Students the Society has developed a well-established net-work of “Student Branches” all across the country. CSI has 488 student branches with more than 90,000 Student Volunteers across the nation. The activities conducted for the Students associated with the Society include lecture meetings, seminars, conferences, training programmes, programming contests and practical visits to installations. CSI has a strong Educational Directorate based at Chennai which undertakes activities related to Certification of professionals related to the latest technologies. Its recent initiative of distance education in the Business Domain areas offers technology enabled learning supported by personal counseling & expert advice. In an ever changing environment, CSI offers professional counseling being a great need of the hour. And this is done by being in close contact with it’s young members through various events, conferences, symposia to name a few. CSI regularly organises SEARCC Programming Contest, Alan Turning Quiz, Discover Thinking Project Contest, On-line Programming Contest etc. for the students.</p>
<h3>Events at CSI</h3>
<p class="text-justify">
    As part of its endeavor to bring together and assimilate various aspects of IT, CSI conducts premier events such as a National Convention, Regional Conferences, Theme Conferences focusing on verticals etc. Apart from this number of workshops re-conducted at the local chapters to get such professionals together on a common platform. Besides the Convention, the Society also conducts an “Exhibition” which endeavors to bring in the manufacturers and system developers to exhibit their products & services to the professionals. The Society organises various panel discussions and these views are compiled so that they can be protected as the views of CSI at the appropriate forums. CSI conducted ESDM workshops at many locations in association with DeITy, Government of India.
</p>