<%- layout("/layouts/boilerplate.ejs") %>

<div class="container text-info-emphasis"> 
    <div class="col-md-7 col-sm-12 offset-md-1">
        <h1><b>Welcome to<br><span class="text-light"><b>CSI</b></span> Family</b></h1>
    </div>
    <div class="col-md-7 col-sm-12 offset-md-1">
        <h2>The KSRM Collage of Engineering was collaborated with CSI(Computer Society of India)</h2>
    </div>
</div>

<div class="container p-2 home-img mx-auto">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner rounded-4">
        <div class="carousel-item active" data-bs-interval="1500">
            <img src="/images/college.jpg" class="d-block w-100 img-fluid home-img" alt="..." style="height: 35rem;">
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="/images/college2.jpg" class="d-block w-100 img-fluid home-img" alt="..." style="height: 35rem;">
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="/images/mahi.png" class="d-block w-100 img-fluid home-img" alt="..." style="height: 35rem;">
        </div>
    </div>
    </div>
</div>

<h1 class="text-center text-info-emphasis"><b>Frequently asked questions</b></h1>

<div class="container mx-auto my-1">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="flase" aria-controls="collapseOne">
               About CSI
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
            <div class="accordion-body">
                The seed for the Computer Society of India (CSI) was first shown in the year 1965 with a handful of IT enthusiasts who were a computer user group and felt the need to organize tteir activities.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What we do
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Having 488 student branches and rooted firmly at 73 different locations, CSI has plans of opening more chapters & activity centers in smaller towns of the country. The idea is to spread the knowledge, and provide opportunities to as many interested as possible.            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                CSI Awards
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                We Recognize Innovations And Indigenous Developments In The Field Of Information Technology In India. CSI Awards Are Instituted To Acknowledge And Motivate Individuals And Organizations Working In The ICT Field.            </div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="flase" aria-controls="collapseFour">
                Events at CSI
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
              <div class="accordion-body">
                As part of its endeavor to bring together and assimilate various aspects of IT, CSI conducts premier events such as a National Convention, Regional Conferences, Theme Conferences focusing on verticals etc. Apart from this number of workshops re-conducted at the local chapters to get such professionals together on a common platform. Besides the Convention, the Society also conducts an “Exhibition” which endeavors to bring in the manufacturers and system developers to exhibit their products & services to the professionals. The Society organises various panel discussions and these views are compiled so that they can be protected as the views of CSI at the appropriate forums. CSI conducted ESDM workshops at many locations in association with DeITy, Government of India.              
            </div>
            </div>
          </div>

      </div>
</div>
