<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">

        <h3>Add a New Event</h3>

        <form method="post" action="/Events" novalidate class="needs-validation" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="Event[title]" class="form-label">Title</label>
                <input type="text" placeholder="enter title" name="Event[title]" required class="form-control">
                <div class="valid-feedback">That's look good</div>
            </div>

            <div class="mb-3">
                <label for="Event[date]" class="form-label">Date</label>
                <input type="text" placeholder="enter date (dd-mm-yyyy) " name="Event[date]" required class="form-control">
                <div class="invalid-feedback">enter date in correct format</div>
            </div>

            <div class="mb-3">
                <label for="Event[coordinators]" class="form-label">Event Coordinators</label>
                <input type="text" placeholder="Coordinators names separate by (,)" name="Event[coordinators]" required class="form-control">
                <div class="invalid-feedback">please enter atleast one event coordinator</div>
            </div>

            <div class="mb-3">
                <label for="Event[rules]" class="form-label">Rules</label>
                <textarea rows="15" type="text" placeholder="enter rules" name="Event[rules]" required class="form-control"></textarea>
                <div class="invalid-feedback">please enter rules</div>
            </div>

            <div class="mb-3">
                <label for="Event[winners]" class="form-label">Winners</label>
                <input type="text" placeholder="winners names seperate by comma(,)" name="Event[winners]" required class="form-control">
                <div class="invalid-feedback">please enter atleast one winner of this event</div>
            </div>

            <div class="mb-3">
                <label for="photos" class="form-label" >Select Multiple photos(.jpeg,.png,.jpg):</label>
                <input type="file" id="photos" name="Event[photos]" multiple accept=".jpeg,.png,.jpg" required class="form-control">
                <div class="invalid-feedback">enter photos of the event</div>
            </div>

            <button class=".add-btn btn btn-primary">Add</button>

        </form>
    </div>
</div>
