<div class="border-bottom relative-bottom mt-5">
<div class="container-fluid bg-white">
  <div class="row bg-white p-1">
    <div class="col-md-6">
        <div class="d-flex justify-content-center">
          <img src="/images/logo.png" class="img-fluid">
        </div>
        <div class="d-flex justify-content-center f-info-socials my-2">
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="d-flex justify-content-center rounded">
          <iframe class="rounded-5 border border-2" src="https://www.youtube.com/embed/dG70vhr1_Q4?si=5lRtMJkBwv7AzVIB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6 text-center py-3">
      <ul class="list-unstyled">
        <h3>Navigation</h3>
        <li><a href="/Home">Home</a></li>
        <li><a href="/Events">Events</a></li>
        <li><a href="/Pricing">Pricing</a></li>
        <li><a href="/Gallery">Gallery</a></li>
        <li><a href="/About">About us</a></li>
        <li><a href="https://www.ksrmce.ac.in/" target="_blank">KSRMCE</a></li>
      </ul>
    </div>
    <div class="col-md-12 text-center p-3 border-2 border-top mt-2">
      <b>Copyright © 2024 KSRMCSI | Powered by KSRMCSI</b>
    </div>
  </div>
</div>
</div>