<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><img src="/images/csilogo.png" alt="logo"><b class="text-info-emphasis">CSI-KSRM</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/Home">Home</a>
          <a class="nav-link" href="/Events">Events</a>
          <a class="nav-link" href="/Gallery">Gallery</a>
          <a class="nav-link" href="/Pricing">Pricing</a>
          <a class="nav-link" href="/About">About us</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currUser){ %>
            <a class="nav-link" href="/signup"><b>Sign Up</b></a>
            <a class="nav-link" href="/login"><b>Log In</b></a>
          <% } %>
          <% if(currUser){ %>
            <a class="nav-link" href="/logout"><b>Log Out</b></a>
            <% } %> 
        </div>
      </div>
    </div>
  </nav>